html{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;          
}

canvas{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

h1 {
    font-family: 'Limelight', cursive;
    font-size: 82px;
    color: #007acc;
    text-align: center;
}

nav {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}

nav a {
    margin-right: 110px;
    text-decoration: none;
    color: #e67e22 ;
    border-radius: 50px;
    display: inline-block;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #e67e22;
}

nav a:hover {
    color: #007acc;
    border: 2px solid #007acc;
}

section {
    margin-left: 250px;
    margin-right: 250px;
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contenedor-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.card {
    background: #000000;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}