html{
    margin: 0;
    padding: 0;
    background-color: #000000;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;          
}

canvas{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    color: white;
    text-shadow:
    1px 1px #999,
    2px 2px #888,
    3px 3px #777,
    4px 4px #666;
}


nav {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}

nav a {
    margin-right: 110px;
    text-decoration: none;
    color: #e67e22 ;
    border-radius: 50px;
    display: inline-block;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #e67e22;
}

nav a:hover {
    color: #007acc;
    border: 2px solid #007acc;
}

section {
    margin-left: 250px;
    margin-right: 250px;
    color: rgb(107, 191, 224);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
